<%= form_with(model: expense) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field(:group_id, value: @group.id, name: :group_id)  if @group.present? %>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_field :date %>
  </div> <!-- date container -->

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div> <!-- title container -->

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div> <!-- amount container -->

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div> <!-- description container -->

  <%= content_tag(:div, stimulus_category_controller_options(@expense)) do %>
    <div class="field">
      <%= form.label :primary_category %>
      <%= form.select(:primary_category, options_for_select(@primary_categories), {include_blank: '--- Select Primary Category ---'}, 'data-action' => 'category#changed', 'data-category-target' => 'primaryCategory') %>
    </div> <!-- primary category container -->

    <div class="field" id="category_container" style="display: none">
      <%= form.label :category %>
      <%= form.select(:category_id, options_for_select({}), {}, 'data-category-target' => 'category') %>
    </div> <!-- category container -->
  <% end %> <!-- category and primary category container -->

  <div class="field">
    <fieldset>
      <legend>Tags</legend>
      <% @tags.each do |tag| %>
        <label for="<%= tag_checkbox_id(tag) %>">
          <%= form.check_box(:tag_ids, { id: tag_checkbox_id(tag), multiple: true}, tag.id, nil) %>
          <span><%= tag.name %></span>
        </label>
      <% end %>
    </fieldset>
  </div> <!-- tags container -->

  <%= render 'sub_accounts', form: form, sub_accounts: @sub_accounts, payment_from: @payment_from %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
