<h2>Accounts</h2>
<div><strong>Balance</strong></div>
<div><%= @account.balance %></div>
<div><%= link_to 'Trades', trades_path %></div>
<div>
  <h3>Cash</h3>
  <div>
    <div><strong>Balance</strong></div>
    <div><%= @cash.balance %></div>
  </div>
</div>
<% if @banks.present? %>
  <div>
    <h3>Banks</h3>
    <% @banks.each do |bank| %>
      <div>
        <div><strong>Name</strong></div>
        <div><%= bank.name %></div>
      </div>
      <div>
        <div><strong>Balance</strong></div>
        <div><%= bank.balance %></div>
      </div>
    <% end %>
  </div>
<% end %>
<% if @ewallets.present? %>
  <div>
    <h3>E-Wallets</h3>
    <% @ewallets.each do |ewallet| %>
      <div>
        <div><strong>Name</strong></div>
        <div><%= ewallet.name %></div>
      </div>
      <div>
        <div><strong>Balance</strong></div>
        <div><%= ewallet.balance %></div>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Home', root_path %>